
header{
	background-color: #2d97c2; 
	height: 70px;

}
.tituloPrincipal{
	color:white;
	text-align: center;
}
h1{
	display: inline-block;
	border-bottom: 6px solid  rgba(0, 255, 255, 0.4);
	border-radius: 20px;
	font-family: helvetica;	
}
header{
	height: 80px;
}


nav{
	background-color: #2d97c2; 
	height: 70px;
	font-size: 18px;
	z-index: 3;

}
nav a{
	color: white;

}
nav a:hover{
	color:  rgba(0, 0, 0, 0.6); 
}

nav label{
	color: white;

}




aside{

	background-color: white;
	height: 500px;
	color: black;
}
aside h3{
	text-align: center;
	font-size: 32px; 
}
.slider h5{
	color: #2d97c2;
	font-size: 35px;
	font-family: herlvetica;

}
.slider p{
	color: white;
	font-size: 18px;
}
.fondoTextS{
	border:2px solid rgba(0, 0, 0, 0.6);
	border-radius: 30px;
	background-color: rgba(0, 0, 0, 0.6);

}
.flecha{
	color: black;
	font-size: 40px;
}	
.flecha:hover{
	color:#2d97c2;
}


section{
	background-image: url("../images/fondo2.jpg");
	background-size: cover;
	height: 70%;
	max-width: all;
	
}
section h3{
	 text-align: center;
	 font-family: helvetica;
	 font-size: 60px;
	 color: white;

}

.card{
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
	border: 15px solid #2d97c2;
	border-radius: 40px;
	overflow:hidden;

}
.card:hover{
	-webkit-transform:scale(0.9);transform:scale(0.9);
}
.card hr{
	background-color: yellow;
}
.card-title{
	color: #2d98c2;
	text-align: center; 
}
.btnAgregar{
	border-radius: 30px;
	font-size: 17px;
}

footer{
	background-color: black;
	height: 12em;
	width: auto;
	text-align: center;
	color: #2d97c2;
	font-family: helvetica;
	font-size: 20px;

}




/* ICONOS */
#menuu{
	font-size: 30px;
	color: black;
}


.margenes{
	margin: 0 auto;
	overflow: auto;
}

.modal-header{
	background-color: #2d97c2;
	font-family: helvetica;
}
.modal-body{
	
}

.modal-title{
	font-size: 29px;
}


/*media*/
@media(max-width: 556px){

	header{
		height: 100px;
		margin: 0 auto;
		overflow: auto;
	}
	nav{
		height: 80px;
	}
	nav a{
		background-color:  rgba(41, 151, 194, 0.6);
		color: black;
		z-index: 1;
	}
	aside{
		margin-top: 50px;
		margin: 0 auto;
		overflow: auto;
	}
	section{
		max-height: auto;
		max-width: auto;
		margin: 0 auto;
		overflow: auto;
	}
	.card{
		margin-right: 0;
		margin-left: 9%;	

	}
	footer{
		height: 17em;
		margin: 0 auto;
		overflow: auto;
	}

}
@media(min-width: 320px){
	.card{
	
	}
}

