{% extends "templates/index.twig" %}

{% block title %} {{ parent() }} {{ " | Carrito" }} {% endblock %}

{% block header %} 
    {% include('templates/nav.twig') %}
{% endblock %}

{% block extraStyle %}
    <link rel="stylesheet" type="text/css" href="/assets/css/car.css">
{% endblock %}

{% block main %}

  <!-- SECTION CAR -->
	<main class="main-car">
		<div class="container my-4">
		<div class="row">
			<div class="col-12 col-md-6">
				<ul class="list-unstyled" id="products-list">

				</ul>
			</div>
			<div class="col-12 col-md-4 offset-md-2">
				<div class="card border-dark mb-3">
					<div class="card-header" style="color: black;">Total del carrito</div>
					<div class="card-body text-dark">
						<!--<h5 class="card-title">Total a pagar</h5>-->
						<p class="card-text"> Total : <span  id="total_car"></span> </p>
						<hr class="divider-card">
						{% if sesionUser %}
						<button class="btn btn-block btn-outline-warning" id="btn-pay">Pagar</button>
						{% else %}
						<div class="alert alert-info" role="alert">
							Debes iniciar sesión para poder continuar con el pago
						</div>
						{% endif %}
					</div>
				</div>
		</div>
		</div>
		</div>
	</main>
  <!-- SECTION CAR -->

{% endblock %}

{% block modals %}
    <!-- MODALS -->
    {{ include('templates/modals.twig')}}
    <!-- MODALS -->
{% endblock %}



{% block extraScript %}
	<script>

		$(document).ready(function(){
			show_car_items_card();


			$(document).on("change", ".amount_item", function(){
				let value = $(this).val();
				let product = $(this).attr("product");
				
				if(value <= 0 ) {
					$(this).val(1);
					value = 1;
				} 
				update_car(product, value);

			});

			$(document).on("click", ".btn-delete", function(){
				let product = $(this).attr("product");

				let confirm_delete = confirm("¿Desea eliminar este producto?");

				if(confirm_delete) {
					if(delete_product(product) ) {
						ohSnap('Producto eliminado', {color: 'green', duration:'2000',icon:'fas fa-check-circle'});
					} else {
						ohSnap('El producto no se encontro revise su carrito', {color: 'red', duration:'2000',icon:'fas fa-exclamation-circle'});
					}
				} 

				amount_items();
				show_car_items_card();

			});
			
		});
		
	</script>

{% endblock %}