    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 mt-4">
                    <h5 class="text-center">Jacd's Bags & Backpacks</h5>
                    <hr class="divider-footer">
                </div>
            </div>
            <div class="row mt-4 text-center">
                <div class="col-12 col-md-4">
                    <h5>Siguenos</h5>
			        <i class="fab fa-facebook-square"></i>
			        /Jacd's_B&B
                </div>
                <div class="col-12 mt-4 col-md-4 mt-md-0">
                    <h5>Contactanos</h5>
			        <i class="far fa-envelope-open"></i>
			        contacto@jacdb&b.com <br>
                    <i class="fab fa-whatsapp"></i>
                    55-26-91-75-68
                </div>
                <div class="col-12 mt-4 col-md-4 mt-md-0">
                    <h5>Visitanos</h5>
			        <i class="fas fa-search-location"></i>
			        Av. Real del Oro. Teoloyucan.
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <hr class="divider-footer">
                    <h5 class="text-center"> &copy;{{ date }} Todos los derechos reservados</h5>
                </div>
            </div>
        </div>
	</footer>