
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{% block title %} Jacd's B&B  {% endblock %}</title>
	<link rel="shortcut icon" type="image/x-icon" href="/assets/img/icon.png">

    <!--  STYLE  -->
    <link rel="stylesheet" type="text/css" href="/assets/bootstrap/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/assets/ohsnap/ohsnap.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">

    {% block extraStyle %}    {% endblock %}
    <!--  STYLE  -->
</head>
<body>


    {% block header %} {% endblock %}
   

    {% block main %} {% endblock %}

    <!-- FOOTER -->
    {{ include('templates/footer.twig')}}
    <!-- FOOTER -->

    {% block modals %} {% endblock %}

    <!-- Message ohSnap  -->
    <aside>
        <div id="ohsnap"></div>
    </aside>
    <!-- Message ohSnap  -->

    <!-- SCRIPTS -->
    <script type="text/javascript" src="/assets/jquery.min.js"></script>
	<script type="text/javascript" src="/assets/bootstrap/bootstrap.js"></script>
	<script type="text/javascript" src="/assets/all.js"></script>
	<script type="text/javascript" src="/assets/js/sticky-menu.js"></script>
	<script type="text/javascript" src="/assets/ohsnap/ohsnap.js"></script>
	<script type="text/javascript" src="/assets/js/login.js"></script>
	<script type="text/javascript" src="/assets/js/carrito.js"></script>
    
    {% block extraScript %} {% endblock %}
    <!-- SCRIPTS -->


</body>
</html>