	    <nav class="navbar navbar-expand-lg sticky-top">
            <a class="navbar-brand" href="/">JACD's B&B</a>

            <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars" id="menuu"></i>
            </button>


            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/productos/bolsas.php">
                                <i class="fas fa-shopping-bag"></i>
                                Bolsas
                            </a>
                            </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/productos/mochilas.php">
                                <i class="fas fa-suitcase"></i>
                                Mochilas
                            </a>
                        </li>
                </ul>
                {% if sesionUser %}
                 <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <label class="nav-link">
                        {{ userFullName }}
                        <i class="far fa-user-circle"></i>
                        </label>
                    </li>
                    <li class="nav-item">
                        <a href="/carrito" class="nav-link">
                            <i class="fas fa-shopping-cart"></i> 
                            Carrito
                            <span class="badge rounded-pill bg-dark" id="total_items"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" id="btn-logout" class="nav-link">
                        Cerrar sesion 
                        <i class="fas fa-clipboard-list"></i>
                        </a>
                    </li>
                </ul>
                {% else %}
                 <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="#" class="nav-link" data-toggle="modal" data-target="#registerModal">
                            <i class="fas fa-clipboard-list"></i>
                            Crea tu cuenta 
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link" data-toggle="modal" data-target="#modalLogin">
                            <i class="far fa-user-circle"></i>
                            Ingresa
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/carrito" class="nav-link">
                            <i class="fas fa-shopping-cart"></i> 
                            Carrito
                            <span class="badge rounded-pill bg-dark" id="total_items"></span>
                        </a>
                    </li>
                </ul>
                {% endif %}
               
             </div>
        </nav>