{% extends "templates/index.twig" %}

{% block title %} {{ parent() }} {{ " | 404 Not Found" }} {% endblock %}

{% block header %} 
    {% include('templates/nav.twig') %}
{% endblock %}

{% block extraStyle %}
    <link rel="stylesheet" type="text/css" href="/assets/css/car.css">
{% endblock %}

{% block main %}

  <!-- SECTION CAR -->
	<main class="main-404">
		<div class="container my-4">
		    <div class="row">
			    <div class="col-12 text-center">
					<img src="/assets/img/404.png" alt="Page not found"  height="220px">
					<div class="alert alert-dark" role="alert">
						¡Lo sentimos! No encontramos lo que buscaba. 
					  </div>
			    </div>
		    </div>
		</div>
	</main>
  <!-- SECTION CAR -->

{% endblock %}


{% block modals %}
    <!-- MODALS -->
    {{ include('templates/modals.twig')}}
    <!-- MODALS -->
{% endblock %}


