nav{ background-color: transparent;}

body {
    background-image: url("../img/fondo1.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
    color: white;
}

.h1-modal{color: black;}
#registerModal label {color: black;}

.main-car{height: auto;}
.media{background-color: white; color: black; border: 2px solid black; }
.media input{width: 80px;}
